<section ng-controller="HomeController" data-ng-init="trouver()">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6">
        <h3>Trouver votre voitureo!</h3>

        <form action="">
          <div class="form-group pucerecherche">
            <label for="nouveau" class="labelduFormfinder">
              <input type="radio" name="type" value="nouveau" id="nouveau"/><span>Nouveau</span>
            </label>
            <label for="occasion" class="labelduFormfinder">
              <input type="radio" name="type" value="occasion" checked id="occasion"/><span>Occasion</span>
            </label>
            </div>
            <div class="form-group">
              <i class="fa fa-car" style="display:block;"></i>
              <select name="constructeur" class="form-control">
                <option selected style="display:none;">Marque du véhicule</option>
                <option value="audi">Audi</option>
                <option value="bmw">BMW</option>
                <option value="mercedes">Mercedes</option>
                <option value="toyota">Toyota</option>
                <option value="vw">VW</option>
              </select>
            </div>
          <div class="form-group">
            <i class="fa fa-tags"></i>
            <select name="modele" class="form-control">
              <option selected style="display:none;">Modèle du véhicule</option>
              <option value="aaa">aaa</option>
              <option value="bbb">bbb</option>
              <option value="ccc">ccc</option>
              <option value="ddd">ddd</option>
              <option value="eee">eee</option>
            </select>
          </div>
          <div class="form-group">
            <i class="fa fa-road"></i>
            <select name="province" class="form-control">
            <option selected style="display:none;">Province</option>
            <option value="belgique">Toute la Belgique</option>
            <option value="anvers">Anvers</option>
            <option value="brabant-flamand">Brabant Flamand</option>
            <option value="bruxelles-capitale">Bruxelles-Capitale</option>
            <option value="flandre-ccidentale">Flandre occidentale</option>
            <option value="flandre-orientale">Flandre orientale</option>
            <option value="hainaut">Hainaut</option>
            <option value="luxembourg">Luxembourg</option>
            <option value="namur">Namur-Province</option>
            <option value="liege">Province de Liège</option>
            <option value="limbourg">Province de Limbourg</option>
            <option value="brabant-wallon">Wallon Brabant</option></select>
          </div>
          <div class="btnEnvoyer">
            <input type="button" name="envoyer" class="btn btn-default" value="Chercher!"/>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <img src="modules/core/client/img/cars.jpg" class="img-thumbnail" alt=""/>
      </div>
    </div>
  </div>
  <div class="row accueilvoitures">
    <h2>Dernieres voitures</h2>
    <div class="col-md-3" ng-repeat="voiture in voitures">
    <h3>{{voiture.titre}}</h3>
      <img ng-src="{{voiture.imageurl}}" class="img-thumbnail" alt="Photo de :{{voiture.titre}}"/>
      <br/><br/>
      <a href="/#!/voitures/{{voiture._id}}" class="btn btn-default">Details</a>
    </div>
  </div>

</section>
