<section ng-controller="VoituresController" ng-init="trouverUnique()">
  <div class="page-header">
    <h1 >{{voiture.titre}}</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="modules/core/client/img/constructeurs/mercedes/a/1.jpg" class="img-thumbnail" alt="bmw i3"/>
    </div>
    <div class="col-md-8">
      <ul class="descriptionDetailsVehicule">
        <li>Constructeur : <strong> {{voiture.constructeur}}</strong></li>
        <li>Modele : <strong> {{voiture.modele}}</strong></li>
        <li>Prix : <strong> {{voiture.prix}}</strong></li>
        <li>Année :  <strong>{{voiture.annee}}</strong></li>
        <li>Province :  <strong>{{voiture.province}}</strong></li>
        <li>Carburant : <strong> {{voiture.carburant}}</strong></li>
        <li>Transmission : <strong> {{voiture.transmission}}</strong></li>
        <li>Couleur : <strong> {{voiture.couleur}}</strong></li>
      </ul>
    </div>
  </div>
  <br/>
<div class="row">
  <div class="col-md-12">
    <p>{{voiture.description}} </p>
    <a href="mailto:{{voiture.contact_email}}?Subject=Voitureo" target="_top" class="btn btn-success">Envoyer un mail</a>
  </div>
</div>
  <br/><br/>

  <div class="pull-right" ng-show="authentication.user._id == voiture.user._id">
    <a class="btn btn-primary" ui-sref="voitures.edit({voitureId: voiture._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="voiture.created | date:'mediumDate'"></span>
      by
      <span ng-bind="voiture.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="voiture.content"></p>
</section>
